<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>

	<!--Produccion-->
	<!--<add name="SGDE2Entities" connectionString="metadata=res://*/Model_SGDE.csdl|res://*/Model_SGDE.ssdl|res://*/Model_SGDE.msl;
       provider=System.Data.SqlClient;provider connection string=&quot;data source=PROD-SQL-GE-LST;initial catalog=bd_gestionexpedienteext;user id=AdminGestionexpedienteext;password=1dm3n.GEext;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	<!--Testing-->
	<add name="SGDE2Entities" connectionString="metadata=res://*/Model_SGDE.csdl|res://*/Model_SGDE.ssdl|res://*/Model_SGDE.msl;
       provider=System.Data.SqlClient;provider connection string=&quot;data source=Prod-sql-01\TEST;initial catalog=bd_gestionexpedientetdpi_test;user id=AdminGEtdpi_test;password=1dm3n.GE.tdpi;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<!--<add name="SGDE2Entities" connectionString="Data Source=Prod-sql-01\TEST;initial catalog=bd_gestionexpedientetdpi_test;user id=AdminGEtdpi_test;password=1dm3n.GE.tdpi;multipleactiveresultsets=True;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;application name=EntityFramework" providerName="System.Data.SqlClient"/>-->
</connectionStrings>