<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
	<!--Produccion-->
	<!--<add name="SGDE2Entities" connectionString="metadata=res://*/Model_SGDE.csdl|res://*/Model_SGDE.ssdl|res://*/Model_SGDE.msl;
       provider=System.Data.SqlClient;provider connection string=&quot;data source=PROD-SQL-GE-LST;initial catalog=bd_gestionexpedienteext;user id=AdminGestionexpedienteext;password=1dm3n.GEext;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	<!--Desarrollo-->
	<!--<add name="SGDE2Entities"
		   connectionString="metadata=res://*/Model_SGDE.csdl|res://*/Model_SGDE.ssdl|res://*/Model_SGDE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DC1T-SQL-GEN-01\DESA;initial catalog=bd_gestionexpedientetdpi_desa;user id=AdminGEtdpi_desa;password=1dm.GED2s1.tdp1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
		   providerName="System.Data.EntityClient" />-->
	<!--Testing-->
	<add name="SGDE2Entities" connectionString="metadata=res://*/Model_SGDE.csdl|res://*/Model_SGDE.ssdl|res://*/Model_SGDE.msl;
        provider=System.Data.SqlClient;provider connection string=&quot;data source=PROD-SQL-GE-LST.economia.cl;initial catalog=bd_gestionexpedientetdpi_test;user id=AdminGEtdpi_test1;password=1dm3n.GE.tdpi1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<!--<add name="SGDE2Entities" connectionString="metadata=res://*/Model_SGDE.csdl|res://*/Model_SGDE.ssdl|res://*/Model_SGDE.msl;
       provider=System.Data.SqlClient;provider connection string=&quot;data source=TEST-SQL-GE-LST.economia.cl,1434;MultiSubnetFailover=True;initial catalog=bd_gestionexpedientetdpi_test;user id=AdminGEtdpi_test;password=1dm3n.GE.tdpi;Connection TimeOut=7200;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	<!--<add name="SGDE2Entities" connectionString="metadata=res://*/Model_SGDE.csdl|res://*/Model_SGDE.ssdl|res://*/Model_SGDE.msl;
       provider=System.Data.SqlClient;provider connection string=&quot;data source=Prod-sql-01\TEST;initial catalog=bd_gestionexpedientetdpi_test;user id=LeerTDPI;password=L21r_tdp1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
</connectionStrings>