<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="vs:EnableBrowserLink" value="false"/>
 
  <add key="CantidadResultadosGrilla" value="10"/>
  
  <add key="IsDesarrollo" value="false"/>
  <add key="IsAmbienteTest" value="false" />
  <add key="AmbienteTestInfo" value="Ambiente de Desarrollo" />

  <add key="PathBaseRepository" value="C:\SGDE"/>
  <add key="IsLocalRepository" value="true"/>
  <add key="IsAppDebug" value="true"/>
  <add key="SeparadorDecimales" value="," />
  <add key="SeparadorMiles" value="." />
  <add key="LocalCountryID" value="152"/>

  <add key="SmtpClient_Host" value="relayinterno.economia.cl"/>
  <add key="SmtpClient_Port" value=""/>
  <add key="SmtpClient_EnableSsl" value=""/>
  <add key="SmtpClient_User" value=""/>
  <add key="SmtpClient_Password" value=""/>
  <add key="Mail_Sender" value="noreply@economia.cl"/>
  <add key="Mail_IsSMTP" value="false"/>

  <add key="Mail_Name" value="SGDE"/>
  <add key="Mail_ConCopia" value="aalmarza@abenis.cl"/>

  <!-- URL del sistema de Autentificacion  -->
  <add key="Url_MenuSistemas" value="http://sgexpediente.tdpi.cl"/>
  <add key="LoginAuthenticationSystem" value="http://sgexpediente.tdpi.cl/ES/Account/Login"/>
  <add key="LogOffAuthenticationSystem" value="http://sgexpediente.tdpi.cl/ES/Account/LogOff"/>

  <add key="LoginAD" value="true" />
  <add key="ActiveDirectoryHost" value="MaestroVM" />
  <add key="IsAccesoPublico" value="false"/>

  <add key="GoogleAnalyticsUA" value="UA-XXXXXXXX" />

  <!-- Clave Unica -->

  <!-- Indica URL para login inicial -->
  <add key="CU_URL_AUTHORIZE" value="https://accounts.claveunica.gob.cl/openid/authorize?" />

  <!-- Este parámetro se obtiene al Activar la Institución. -->
  <add key="CU_CLIENT_ID" value="22cbedad1f0c469db626b89f0c560606" />

  <!-- Este parámetro se obtiene al Activar la Institución -->
  <add key="CU_CLIENT_SECRET" value="e780ab4684df4ed28e5bf22237f0e4c9" />

  <!-- En este parámetro debe ir la URI de la aplicación (vista inicial) -->
  <!-- Debe ser una URL publica, CU llama a esta URL cuando el login es exitoso -->
  <add key="CU_REDIRECT_URI" value="http://abenis.cl/callback/claveunica?id=22" />

  <!-- lógica utilizada por OpenID Connect y siempre debe ser code. -->
  <add key="CU_RESPONSE_TYPE" value="code" />

  <!-- obtener la información del ciudadano siempre debe ser openid run name. -->
  <add key="CU_SCOPE" value="openid run name" />

  <!-- Lógica utilizada por OpenID Connect y siempre debe ser authorization_code. -->
  <add key="CU_GRANT_TYPE" value="authorization_code" />

  <!-- Para solicitar este Token de acceso debe enviar una solicitud POST via HTTPS. -->
  <add key="CU_REDIRECT_URI_POST" value="https://accounts.claveunica.gob.cl/openid/token/" />

  <!-- Obtener información de ciudadano por medio del Token de autorización -->
  <add key="CU_URL_USER_INFO" value="https://www.claveunica.gob.cl/openid/userinfo/" />

  <!-- Año inicial en filtros para el despliegue de información  -->
  <add key="AnioInicial" value="2008"/>

  <add key="ExpirationCacheInMinutes" value="2" />
  <add key="NombrePresidente" value="ANDRÉS ALVAREZ PIÑONES" />  

  <add key="SistemaPublicoURL" value="http://portalsgexpediente.tdpi.cl/" />

</appSettings>
