@using resources = Infrastructure.Resources;
@using Enums = Domain.Infrastructure;

@{
//ViewBag.Title = "Index";
}

<script type="text/javascript">
    ; (function ($) {
        $(function () {


        });
    })(jQuery);
</script>

<div class="bodyContent">
    <div class="cont">

        <fieldset>
            <legend class="legendTitle">Index</legend>
            @Html.AntiForgeryToken()

        </fieldset>


    </div>
</div>

