<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SGDE2Entities" connectionString="metadata=res://*/Model_SGDE.csdl|res://*/Model_SGDE.ssdl|res://*/Model_SGDE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XXXXXX;initial catalog=XXXXXX;user id=XXXXXX;password=XXXXXX;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>